<form>
    <fieldset>
        <legend>Add Federated Source</legend>
        <div class="form-inline">
            <label>Source Name</label>
            <input type="text">
            <label>Interface Type</label>
            <select>
                <option class="selected">OpenSearch</option>
            </select>
            <label class="checkbox"><input type="checkbox"> Enabled</label>
        </div>

        <hr/>
        <label>
            OpenSearch Service URL
        </label>
        <input type="text"/>
        <label class="checkbox"><input type="checkbox"> Always perform local query <i
                class="icon-question-sign"></i></label>
        <label class="checkbox"><input type="checkbox"> Convert to bbox <i class="icon-question-sign"></i></label>
        <div>
            <a class="btn btn-info">Advanced Options</a>
        </div>

        <div class="btn-group">
            <a class="btn btn-primary">Save</a><a class="btn">Cancel</a>
        </div>
    </fieldset>
</form>